.git
.github
.gitignore
.env
.env.*
.secret_key
*.db
*.sqlite3
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage
venv
.venv
tests
*.md
LICENSE
docker-compose*.yml
.pre-commit-config.yaml
.pytest_cache
